@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playwrite+CU:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CU:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body {
    position: relative; /* Fallback color */
}

body::after {
    content: "";
    background-image: url('https://img.freepik.com/free-vector/man-standing-flipchart-with-list_1262-19830.jpg?w=1060&t=st=1720789958~exp=1720790558~hmac=326b02c070bc93e7b89c01467aea4a2469d52b712c4520c5d42ea10909684a6a');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50% 80%;
    background-position: 50% 50%;
    opacity: 0.3; /* Adjust the opacity as needed */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1; /* Ensure it’s behind all other content */
}


h1{
    color: red;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    margin: 10px;
}

h2{
    font-family: "Roboto Condensed", sans-serif;
}
