body{
    margin: 10px;
}

h1{
    color: rgba(255, 24, 24, 0.333);
    font-weight: 200;
    margin: 10px;
    border-bottom: 1px solid rgba(255, 24, 24, 0.333);
    display: inline;
}
input{
    width: 50%;
}
.item-container{
    text-align: left;
}
button{
    margin-bottom: 30px;
}
